{% extends 'base.html.twig' %}

{% block javascript %}
 <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %}paiement de ma commande! -YK.DESIGN

{% endblock %}

{% block content %}
<h2>Mon récapitulatif</h2>
<p>Verifiez vos informations avant de payer votre commande</p>
<hr>
<div class="row"> 
<div class="col-md-6">
<strong>Mon addresse de livraison</strong> <br>
<div class="form-check mt-5">
{{ delivery|raw }}
</div>
<hr>
<strong>Mon transporteur</strong><br>
<div class="form-check">
{{ carrier.name }} <br>
{{ carrier.description }}<br>
{{ carrier.price / 100 |number_format(2, '.', '.') }}€
</div>
</div>
<div class="col-md-6">
<div class ="text-center">
<b>Ma commande</b><br>
</div>
{# <p>le recapitulatif de vos produits </p>
</div> #}
<div class ="order-summary">
{% set total = null %}
{% for key,product in cart %}
<div class="row">
<div class="col-2">
<img src="/images/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75px">
</div>
<div class = "col-8 my-auto">
      {{ product.product.name }} <br> <small>{{ product.product.subtitle }} </br>
      x {{ product.quantity }} 
      </small>
</div>
<div class="col-2 my-auto">
{{ (product.product.price / 100)|number_format(2, ",") }} €

</div>
</div>
{% set total = total + product.product.price * product.quantity %}
{% endfor %}
</div>
<hr>
<strong>sous-total : </strong>{{ (total /100) |number_format(2, '.', '.') }}€ </br>
<strong>livraison : </strong>{{ (carrier.price) |number_format(2, '.', '.') }}€ </br>
<strong>total : </strong> {{ ((total /100)+ (carrier.price / 100))|number_format(2, '.', '.') }}€
<hr>
<a class ="btn btn-success btn-block mt-3" id="checkout-button">Payez | {{ ((total / 100)+ carrier.price)|number_format(2, '.', '.') }}€</a>
</div>

{% endblock %}

 {% block script %}
<script type="text/javascript">
    var stripe = Stripe("pk_test_51NaaYrDVs5OvJZvbkwYlT88FdfdbWGEZut9XthY3wr6gHXmLWYZGRg0NeKEz0fjVW75dghrhHn1lco9ExBJ6x27i00xwbiBc7K");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      
        fetch("/commande/create-session/{{ reference }}", {
            method: "POST",
        })
        .then(function (response) {
            return response.json();
        })
        .then(function (session) {
            if(session.error == 'order') {
                  window.location.replace('{{path('order') }}');
                  return;
            } else {
            return stripe.redirectToCheckout({ sessionId: session.id });

            }
        })
        .then(function (result) {
            if (result.error) {
                alert(result.error.message);
            }
        })
        .catch(function (error) {
            console.error("Error:", error);
        });
    });
    
</script>

{% endblock %}
